body {
    text-align:center;
}

li {
    list-style:none;
    float:left;
    padding:0 5px;
    border-left:1px solid green;
    line-height:12px;
}
li:first-child {
    border:none;
}
section {
    width:700px;
    padding:10px 0;
}
.foot {
    font-size:12px;
    margin:10px 0;
}
#demo {
    display:none;
}

.cf:after {
    content:"."; 
    display:block;
        height:0; 
        visibility:hidden;
        clear:both;
}
.container {
    margin-top:50px;
    width:900px;
    height:600px;
    position:relative;
}
section > div {
    float:left;
    text-align:left;
}

.detail {
    width:600px;
    margin-left:20px;
}
.media {
    min-height:10px;
    border:1px solid green;
    border-radius:2px;
    background-color:#F7F2F2;
}
.face {
    width:50px;
    min-height:1px;
}
.from > div {
    float:left;
}
.handle > div  {
    float:right;
}

.from {
    float:left;
}
.handle {
    float:right;
}
.forward-content {
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
}
.icon-good {
    background-image:url(../img/icon.png);
    background-position:-75px 0;
    background-repeat:no-repeat;
    width:13px;
    height:14px;
    float:left;
    margin-top:-1px;
}
.icon-approve, .icon-approve-organization {
    background-image:url(../img/bg_line.png);
    background-repeat:no-repeat;
    width:16px;
    height:14px;
    vertical-align:text-bottom;
    display:inline-block;
}
.icon-approve {
    background-position:-50px -6px;
}
.icon-approve-organization {
    background-position:-75px -6px;
}

.time {
    margin-right:10px;
}
.arrow {
    position: absolute;
    z-index: 0;
    margin-top:-6px;
    margin-left:10px;
    width: 22px;
    cursor: default;
}
.arrow * {
    font-family: "SimSun";
    overflow: hidden;
    font-size: 12px;
    line-height: 1.231;
    display: block;
    height: 12px;
}
.S_line1_c {
    color:#F7F2F2;
    position:absolute;
}
.S_bg1_c {
    color:green;
    position:absolute;
    margin-top:-2px;
}
.arrow span {
}
.tips {
    width:670px;
    padding:0;
    display:none;
}
.tips a:hover {
    color:#fff;
}
.tips a {
    color:rgb(30, 175, 30);
    display:block;
}
.navigation {
    position:fixed;
    width:40px;
    margin-left:700px;
    transition:0.9s;
    -webkit-transition:0.9s;
    /*bottom:-700px;*/
    top:50px;
}
.navigation img {
    margin:1px;
    padding:2px;
    border:2px solid transparent;
}
.navigation .index {
    min-height:10px;
    max-height:600px;
    overflow:hidden;
    transition:0.9s;
    -webkit-transition:0.9s;
}
.prev, .next {
    font-size:20px;
    cursor:pointer;
}
.disabled {
    color:rgb(204, 201, 201);
}
.navigation .img-active {
    border:2px solid rgb(241, 156, 122)
}
.notice {
    position: fixed;
    top: 0;
    margin-left:700px;
    min-width:112px;
}
.notice ul {
}
.notice li {
    border:none;
    padding:0;
    transition:0.9s;
    -webkit-transition:0.9s;
}
.nav>li>a {
    padding:10px;
    display:inline-block;
}
.icon-unread-at, .icon-unread-comments, .icon-unread-good, .icon-unread-follower, .icon-unread-msg {
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    float: left;
    margin-top: -1px;
}
.icon-unread-good {
    background-position: 0 -197px;
}
.icon-unread-comments {
    background-position: 0 -170px;
}
.icon-unread-at {
    background-position: 0 -147px;
}
.icon-unread-follower {
    background-position: 0 -100px;
}
.icon-unread-msg {
    background-position: 0 -75px;
}
.badge {
    color:#fff;
    background-color:#EB962B;
}
.notice .unread {
    display:none;
}

#feed, .profile {
    float:left;
}
.profile {
    border: 1px solid;
    margin-top:-50px;
    display:none;
}
.profile img {
    width: 120px;
    height: 120px;
    
}

.image {
    margin-top:5px;
}
.image img {
    margin-top:5px;
    margin-right:5px;
}
.mulity-image {
    width:80px;
    height:80px;
}
.big-cur {
    cursor:url(../img/big.cur), auto!important;
}
.small-cur {
    cursor:url(../img/small.cur), auto!important;
}
