body {
    text-align:center;
}

li {
    list-style:none;
    float:left;
    padding:0 5px;
    border-left:1px solid green;
    line-height:12px;
}
li:first-child {
    border:none;
}
section {
    width:700px;
    padding:10px 0;
}
.foot {
    font-size:12px;
    margin:10px 0;
}
#demo {
    display:none;
}

.cf:after {
    content:"."; 
    display:block;
        height:0; 
        visibility:hidden;
        clear:both;
}
.container {
    margin-top:50px;
    width:900px;
    height:600px;
    position:relative;
}
section > div {
    float:left;
    text-align:left;
}

.detail {
    width:600px;
    margin-left:20px;
}
.media {
    min-height:10px;
    border:1px solid green;
    border-radius:2px;
    background-color:#F7F2F2;
}
.face {
    width:50px;
    min-height:1px;
}
.from > div {
    float:left;
}
.handle > div  {
    float:right;
}

.from {
    float:left;
}
.handle {
    float:right;
}
.forward-content {
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
}
.icon-good {
    background-image:url(../img/icon.png);
    background-position:-75px 0;
    background-repeat:no-repeat;
    width:13px;
    height:14px;
    float:left;
    margin-top:-1px;
}
.icon-approve {
    background-image:url(../img/bg_line.png);
    background-position:-50px -6px;
    background-repeat:no-repeat;
    width:16px;
    height:14px;
    vertical-align:text-bottom;
    display:inline-block;
}
.time {
    margin-right:10px;
}
.arrow {
    position: absolute;
    z-index: 0;
    margin-top:-6px;
    margin-left:10px;
    width: 22px;
    cursor: default;
}
.arrow * {
    font-family: "SimSun";
    overflow: hidden;
    font-size: 12px;
    line-height: 1.231;
    display: block;
    height: 12px;
}
.S_line1_c {
    color:#F7F2F2;
    position:absolute;
}
.S_bg1_c {
    color:green;
    position:absolute;
    margin-top:-2px;
}
.arrow span {
}
.tips {
    width:670px;
    padding:0;
    display:none;
}
.tips a {
    color:green;
    display:block;
}
.navigation {
    position:fixed;
    width:40px;
    margin-left:700px;
    transition:0.9s;
    -webkit-transition:0.9s;
    /*bottom:-700px;*/
    top:50px;
}
.navigation img {
    margin:1px;
    padding:2px;
    border:2px solid transparent;
}
.navigation .index {
    min-height:10px;
    max-height:600px;
    overflow:hidden;
    transition:0.9s;
    -webkit-transition:0.9s;
}
.prev, .next {
    font-size:20px;
    cursor:pointer;
}
.disabled {
    color:rgb(204, 201, 201);
}
.navigation .img-active {
    border:2px solid rgb(241, 156, 122)
}
